annotated-types
faiss-cpu
fastapi
graphviz
httpx
uvicorn
huggingface_hub
iniconfig
packaging
pluggy
pydantic
pydantic-core
pygments
pytest
PyYAML
pantograph @ git+https://github.com/stanford-centaur/PyPantograph
torch
torch-geometric
typing-extensions
typing-inspection
